<!DOCTYPE html>
<html ng-app="root">
<head>
  <link rel="stylesheet" type="text/css" href="football.css">
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script
    src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
  <script src="js/root.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body ng-controller="index">

    <div  class="title">
  <nav class="navbar navbar-inverse" id="naslov">
	     <p>Fisfootball</p>
    </div>
  </nav>

  <div id="rapper" class="wrapper text-center" style=" display:inline-block; width:100%;height:; margin-top:0%; margin-bottom; background-color: white;" id="glavno">
    <box class="box" style=" display:inline-block; width:200px; height:200px; margin:20px;"id="kocka0"><img ng-click="getStanding(453); showLeague()"  class="slika" height=180px; width=180px; src='https://upload.wikimedia.org/wikipedia/en/thumb/7/7b/2._Bundesliga_logo.svg/1200px-2._Bundesliga_logo.svg.png' class="img-fluid " alt=""></box>
    <box class="box" style=" display:inline-block; width:200px; height:200px; margin:20px;"id="kocka1"><img ng-click="getStanding(452); showLeague()" class="slika" height=180px; width=180px; src='https://images-eu.ssl-images-amazon.com/images/I/61pCFvLeW1L.png'></box>
    <box class="box" style=" display:inline-block; width:200px; height:200px; margin:20px;"id="kocka2"><img ng-click="getStanding(445); showLeague()" class="slika" height=180px; width=180px; src='http://a.espncdn.com/combiner/i?img=/i/leaguelogos/soccer/500/23.png'></box>
    <box class="box" style=" display:inline-block; width:200px; height:200px; margin:20px;"id="kocka3"><img ng-click="getStanding(449); showLeague()" class="slika" height=180px; width=180px; src='http://a.espncdn.com/combiner/i?img=/i/leaguelogos/soccer/500/11.png'></box><br>
    <box class="box" style=" display:inline-block; width:200px; height:200px; margin:20px;"id="kocka4"><img ng-click="getStanding(456); showLeague()" class="slika" height=180px; width=180px; src='http://a.espncdn.com/combiner/i?img=/i/leaguelogos/soccer/500/12.png'></box>
    <box class="box" style=" display:inline-block; width:200px; height:200px; margin:20px;"id="kocka5"><img ng-click="getStanding(455); showLeague()" class="slika" height=180px; width=180px; src='http://a.espncdn.com/combiner/i?img=/i/leaguelogos/soccer/500/15.png'></box>
    <box class="box" style=" display:inline-block; width:200px; height:200px; margin:20px;"id="kocka6"><img ng-click="getStanding(450); showLeague()" class="slika" height=180px; width=180px; src='http://a.espncdn.com/combiner/i?img=/i/leaguelogos/soccer/500/9.png'></box>
    <box class="box" style=" display:inline-block; width:200px; height:200px; margin:20px;"id="kocka7"><img ng-click="getStanding(457); showLeague()" class="slika" height=180px; width=180px; src='http://a.espncdn.com/combiner/i?img=/i/leaguelogos/soccer/500-dark/85.png'></box>
  </div>


  <div class="container text-center">
    <div class="row">
      <div  ng-if="leagueView == 'show'" class="col-12" style="; margin-left:15%; " id="standing">
        <div class="table-responsive-sm" style="overflow-x:auto;">
        <table style="text-align:center;" class="table table-striped table-bordered table-sm" >
          <thead class="thead-dark">
            <tr>
              <th scope="col" id="th">Rank</th>
              <th scope="col" id="th">Team name</th>
              <th scope="col" id="th">Games played</th>
              <th scope="col" id="th">W</th>
              <th scope="col" id="th">L</th>
              <th scope="col" id="th">D</th>
              <th scope="col" id="th">Points</th>
            </tr>
          </thead>
          <tbody id="telos">
            <tr ng-click="getTeam(dt._links.team.href);getPlayers(dt._links.team.href);reset();hideLeague();getFixtures(dt._links.team.href)" ng-if="data.standing" ng-repeat="dt in data.standing">
              <td>{{dt.position}}</td>
              <td >{{dt.teamName}}</a><img ng-if="dt.crestURI" width="30px" height="30px" src="{{dt.crestURI}}" style="float:right"></td>
              <td>{{dt.playedGames}}</td>
              <td>{{dt.wins}}</td>
              <td>{{dt.losses}}</td>
              <td>{{dt.draws}}</td>
              <td>{{dt.points}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>

<!--     ______________________________________________________           -->
      <div class="col-sm-4"  >
	       <div ng-if="rosterView == 'show'" >
		         <div id="podatki">
		             <span ><h2><span></span></h2></span><span class "line2"><h2>{{dat.name}}</h2></span>
		                 <img width="50px" height="50px" ng-if="dat.crestUrl" src="{{dat.crestUrl}}" id="picture">
						 
		                 </div>
		                 </div>
		                   <div>

                         <div style="max-height:300px; overflow:auto; margin-bottom:100px;" class="panel panel-default" ng-if="rosterView == 'show'" id ="rez">
                           <div class="panel panel-header" ng-repeat="df in y track by $index">
                             <div class="panel-body" style="border:3px;text-align: center;" >

                               <span>
                                 <span></span>
                                 <span style="overflow-x: hidden; box-sizing: border-box; "></span>
                                 <span id="{{df._links.self.href}}h"><h4 style="text-align:center">{{df.homeTeamName}}</h4></span>
                                 <span><b>{{df.result.goalsHomeTeam}}</b> - <b>{{df.result.goalsAwayTeam}}</b></span>
                                 <span id="{{df._links.self.href}}a"><h4 style="text-align:center">{{df.awayTeamName}}</h4></span>
                                 {{result(df.result.goalsHomeTeam, df.result.goalsAwayTeam, df._links.self.href)}}
                               </span>
                             </div>
                           </div>
                         </div>
                       </div>
		                   </div>
	     <div ng-if="rosterView == 'show'" class="col-sm-8" id="tab" >
        <div id="igralci" class="table-responsive-sm" style="overflow-x:auto;">
		       <table  class="table table-striped table-bordered table-sm" >
			          <thead class="thead-dark">
				              <tr>
					               <th scope="col" id="th">Name</th>
					               <th scope="col" id="th">Position</th>
					               <th scope="col" id="th">Jersey number</th>
					               <th scope="col" id="th">Nationality</th>
				             </tr>
			         </thead>
			         <tbody id="telo">
				             <tr ng-repeat="player in roster">
					              <td>{{player.name}}</td>
					              <td>{{player.position}}</td>
					              <td>{{player.jerseyNumber}}</td>
					              <td>{{player.nationality}}</td>
				             </tr>
			         </tbody>
		        </table>
          </div>
	      </div>
	     </div>

     </div>

     <footer class="footer black">
   <div class="container">
     <h4>Avtorja: Rok Štrekelj, Jan Turk</h4>
   </div>
 </footer>



</body>
</html>
